<section>

  <article>

    <div class="jumbotron">
      <div class="container">

        <h3>Introduction of Services</h3>
        <br>

        <div>
          <h5>1) Service Class</h5>
          <p [innerHtml]="explanationService" style="padding: 30px"></p>
        </div>

        <div>
          <h5>2) Declaration in module (app.module.ts)</h5>
          <p [innerHtml]="explanationModule" style="padding: 30px"></p>
        </div>

        <div>
          <h5>3) Using the Service</h5>
          <p [innerHtml]="explanationUsingService" style="padding: 30px"></p>
        </div>


      </div>
    </div>
  </article>
</section>