<h3>Directive *ngFor</h3>

<ul>
  <li *ngFor="let nome of nomes, let i = index">
    {{i+1}} - {{nome}} - Age: {{idades[i]}} years
  </li>
</ul>

<br>
<span class="pl-20">- Ages: {{idades}}</span>

<br>


<span class="pl-20">- Sponsor:</span>
<ul>
  <li>Name: {{responsavel.nome}}</li>
  <li>CPF: {{responsavel?.cpf}}</li>
  <li>Job:
    <ul>
      <li> Description: {{responsavel.profissao.descricao}}</li>
      <li [hidden]="!responsavel.profissao.cargo">Job Role: {{responsavel.profissao.cargo}}</li>
      <li [hidden]="!responsavel.profissao.admissao">Year of admission: {{responsavel.profissao.admissao}}</li>
      <li> Salary : {{responsavel.profissao.salario | number: '1.2-2'}}</li>
      <!--<li> Salary: {{responsavel.profissao.salario | currency : 'USD' : 2}}</li>-->
      <li> Next vacation: {{responsavel.profissao.ferias?.proxima}}</li>
      <li> Last vacation: {{responsavel.profissao.ferias?.ultima}}</li>
    </ul>
  </li>
</ul>



<br> {{responsavel|json}}