<section>

  <article>

    <div class="jumbotron">
      <div class="container">

        <h3>Introduction of Modules</h3>
        <br>
        <br>
        <h6>This component: <b>app-sample-component</b> is only declared in the <b>SampleModule</b>.</h6>
        <br>
        <div>
          <h5>1) Create a Module</h5>
          <p [innerHtml]="explanationCreate" style="padding: 30px"></p>
        </div>

        <div>
          <h5>2) Declaration in module (app.module.ts)</h5>
          <p [innerHtml]="explanationModule" style="padding: 30px"></p>
        </div>




      </div>
    </div>
  </article>
</section>